<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Create customer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="mt-5" action="submit" [formGroup]="customerForm()" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-5">
        <mat-form-field class="sm:col-span-1 md:col-span-3" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="documentType">
            <mat-option value="CC">CC</mat-option>
            <mat-option value="CE">CE</mat-option>
            <mat-option value="PAS">PAS</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="sm:col-span-1 md:col-span-9" appearance="outline">
          <mat-label>Enter document number</mat-label>
          <input matInput formControlName="documentNumber" />
        </mat-form-field>
      </div>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Enter full name</mat-label>
        <input matInput formControlName="fullName" />
      </mat-form-field>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required />
      </mat-form-field>
      <div class="mb-3">
        @if (
          customerForm().get('documentNumber')?.invalid &&
          customerForm().get('documentNumber')?.touched
        ) {
          <mat-error>document number is invalid</mat-error>
        }
        @if (customerForm().get('email')?.invalid && customerForm().get('email')?.touched) {
          <mat-error>email is invalid</mat-error>
        }
      </div>

      <button
        matButton="filled"
        type="submit"
        [disabled]="customerForm().invalid || customerForm().pristine"
      >
        Create customer
      </button>
    </form>
  </mat-card-content>
</mat-card>
